In [1]:
import pandas as pd

In [2]:
# load every dataset in the db folder and merge them into one
import os

DATA_DIR = '../../db'

db = pd.DataFrame()
for filename in os.listdir(DATA_DIR):
    if not filename.endswith('.parquet'):
        continue

    # read csv
    df = pd.read_parquet(os.path.join(DATA_DIR, filename))

    # append to dfs
    db = pd.concat([db, df])

# concat dfs
db

ENTREZ_ID,1,10,100,1000,10000,100008586,100009676,10001,10002,10003,...,92379,92454,934,93949,94057,9503,9593,9598,985,9981
index,,,,,,,,,,,,,,,,,,,,,
GSM578713,80.229866,280.337524,603.947677,458.452476,719.186922,36.878131,27.831984,529.722392,82.051396,56.937410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GSM578714,232.083710,557.271973,481.982330,332.298859,611.461698,39.245560,79.352000,536.237061,39.471742,64.716886,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GSM578715,196.309372,476.343872,444.509666,91.680040,252.469779,31.995184,55.327606,360.160461,67.881764,39.106057,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GSM578716,171.969467,407.747894,716.504898,86.526948,312.491166,17.069570,36.789777,483.829966,27.204641,24.211663,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GSM578717,93.417145,807.742065,437.785431,207.170311,291.140504,21.781480,50.227558,326.991508,66.520733,57.556348,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GSM283052,-0.112917,0.311420,-1.014300,-0.549380,-0.068738,NaN,NaN,-0.308590,-0.063982,-0.043025,...,0.005554,0.007570,1.27000,0.63926,0.082404,-1.08830,0.121600,-0.80743,0.081471,-0.082281
GSM283053,-0.139552,0.301750,-0.894450,-0.345580,-0.052856,NaN,NaN,-0.324050,-0.111210,-0.057559,...,0.011012,-0.204428,1.10540,0.52671,0.015313,-0.93684,0.025640,-0.79922,0.073202,-0.068729
GSM283054,-0.088761,0.250910,-0.755470,-0.527730,-0.000032,NaN,NaN,-0.317065,-0.095783,-0.037995,...,-0.061292,-0.121706,0.94430,0.57527,0.056877,-0.96728,0.058599,-0.73909,0.038423,-0.036338
GSM283055,-0.144332,0.343850,-0.989880,-0.398880,-0.028291,NaN,NaN,-0.362165,-0.086474,-0.083520,...,-0.160620,-0.184083,1.15260,0.72817,0.110150,-0.92868,0.105480,-0.51136,0.088360,-0.092351
GSM283056,-0.123443,0.246210,-0.722400,-0.374830,-0.087512,NaN,NaN,-0.302765,-0.144373,-0.080355,...,0.080200,-0.183110,0.86849,0.56577,0.038646,-0.99814,-0.010112,-0.82383,0.006125,-0.079229

In [ ]:
db

Empty DataFrame
Columns: []
Index: []